@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

body {
  background-color: white;
}
.resetpwd-form {
  position: relative;
  padding: 10px;
  text-align: center;
  background-color: rgb(229, 231, 226);
  padding: 15px 0px 15px 0px;
  border-radius: 30px;
}
.resetpwd-form input {
  width: 300px;
  outline: none;
  display: block;
  border-radius: 5000px;
  text-align: center;
  padding: 0.6em;
  margin: 0 auto;
  background: #efeeee;
  border: solid 0.1px rgb(224, 224, 224);
  -webkit-appearance: none;
  -moz-box-shadow: inset 4px 4px 6px #ccc, inset -4px -4px 6px #fff;
  -webkit-box-shadow: inset 4px 4px 6px #ccc, inset -4px -4px 6px #fff;
  box-shadow: inset 4px 4px 6px #ccc, inset -4px -4px 6px #fff;
  margin-bottom: 1em;
  color: rgb(58, 56, 56);
}

.resetpwd-img {
  position: absolute;
  height: 200px;
  right: 3%;
  top: 15%;
}

.resetpwd-form h3 {
  font-family: "Pacifico", cursive;
  color: #383754;
}

.resetpwd-form h4 {
  color: #52525f;
  font-family: "Montserrat", sans-serif;
}

.welcome-img {
  position: absolute;
  height: 150px;
  left: 3%;
  top: 20%;
}

#resetpwd {
  position: absolute;
  background-color: #efeeee;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family: "Montserrat", sans-serif;
  color: #383754;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* wrapping the items (Additional) */
  flex-wrap: wrap;
}
